/**
 * RUBY MENU
 */

/***** MENU OFF-CANVAS - MENU DRAWER *****/
.rm01offcanvas {
  position: fixed;
  overflow-x: hidden; overflow-y: auto;
  -webkit-overflow-scrolling: touch;      /* For iOS5+ */
  z-index: 10;

  width: 260px !important; height: 100%;
  right: 0; top: 0;
  visibility: hidden;
  background-color: #333;

  -webkit-transition: -webkit-transform .15s;
  transition: transform .15s;

  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateX(260px);
  transform: translateX(260px);
  
  /* Menu */
  .rm01menu {
    width: 100%;
    background-color: #333;
  }

  /* Menu List */
  .rm01list {
    > a {
      padding: 15px 20px;
      color: #999;
    }
    &:hover {
      > a {
        color: #fff;
      }
    }
  }

  /* Link back */
  .rm01listback {
    background-color: #222;
  }
}


/***** LINK BACK *****/
.rm01arrowback {
  padding-right: 10px;
  font-size: 1.4em;
}


/***** BUTTON TOGGLE OFF-CANVAS *****/
.rm01btn-toggle {
  position: fixed;
  right: 0; top: 10px;
  display: none;
  width: 48px;
  padding-top: 10px; padding-bottom: 10px;
  z-index: 10;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  -webkit-transition: -webkit-transform .15s;
  transition: transform .15s;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  
  /* Button toggle span */
  span {
    display: block;
    position: relative;
    width: 18px; height: 3px;
    margin-left: -33px; margin-bottom: 3px;
    right: -100%;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 1px 0 rgba(255,255,255,0.2);
  }
  &:hover, &.rm01push {
    span {
      background-color: rgba(0,0,0,0.8);
    }
  }

  /* Button toggle show */
  &.rm01show {
    display: block;
  }

  /* Button toggle push */
  .rm01push {
    height: 100%; width: 100%;
    
    -webkit-transform: translateX(-260px);
    transform: translateX(-260px);
    &::after {
      border-left-color: #333;
    }
  }
}

/** MENU OFF-CANVAS ACTIVED PUSH */
html.rm01push {
  overflow-x: hidden;
}
.rm01push {
  body {
    position: relative;
    right: 260px;
  }
  &.rm01offcanvas {
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}